@import './../../../../css/variables.scss';

:host{
  .form-field{
    margin-left: 0 !important;
    width: 25% !important;
    box-sizing: border-box;
    padding: 0 2%;
  }
  .mat-mdc-form-field{
    width: 100% !important;
  }
}

.header{
  span{
    font-weight: 700;
  }
}

.form-bar{
  display: flex;
  flex-wrap: wrap;
  margin-top: 34px;
  .form-field{
    font-size: 14px;
    mat-form-field{
      margin-top: 10px;
    }
    .label{
      font-weight: 700;
    }
  }
}

.user-form{
  margin-top: 34px;
  padding: 34px 34px;
  box-shadow: 1px 1px 5px grey;
}

.close-button{
  color: white;
  border-radius: 50%;
  box-sizing: content-box;
  background-color: $main-grey;
  cursor: pointer;
  transition-duration: .3s;
  &:hover{
    background-color: $blocked;
  }
  &.disabled{
    background-color: $disabled;
    cursor: default;
    &:hover{
      background-color: $disabled;
    }
  }
}

.button-bar{
  margin-top: 20px;
  .action-button{
    margin-right: 30px;
    &:disabled{
      background-color: $disabled !important;
    }
  }
}

.disabled-icon{
  background-color: $main-grey;
  cursor: default;
}

.material-icons{
  font-size: 16px !important;
}
.mat-icon{
  height: 20px;
  width: 20px;
  padding: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1230px) {
  :host{
    .form-field{
      width: 50% !important;
    }
  }
}

@media (max-width: 620px) {
  .button-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .action-button{
    width: 50%;
    margin-right: 0px !important;
    min-width: 200px;
    &:not(:first-child){
      margin-top: 20px;
    }
  }
  :host{
    .form-field{
      width: 100% !important;
    }
  }
}
