@import './../variables.scss';

$form-field-border-radius: 15px;
$form-field-height: 44px;

.mdc-text-field--outlined{
  height: $form-field-height !important;
}

.mdc-notched-outline__leading {
  border-top-left-radius: $form-field-border-radius !important;
  border-bottom-left-radius: $form-field-border-radius !important;
}

.mdc-notched-outline__trailing {
  border-top-right-radius: $form-field-border-radius !important;
  border-bottom-right-radius: $form-field-border-radius !important;
}

.mat-mdc-input-element, .mat-mdc-select-value{
  width: 95% !important;
  transform: translateY(-7px);
  font-size: 14px !important;
  font-weight: 400 !important;
}

.mat-mdc-option, .mat-mdc-select-min-line{
  font-size: 14px !important;
  font-weight: 400 !important;
}


.mat-mdc-form-field-icon-suffix{
  position: relative !important;
  top: calc($form-field-height/2);
  transform: translate(-25%, -136%);
}

.filter-date-picker{
  .mat-mdc-form-field-icon-suffix{
    top: 0;
    transform: translate(0,-2%);
  }
}

$select-count-height: 24px;

app-account-list{
  .mat-mdc-select-arrow-wrapper{
    transform: translate(-8px, -7px);
  }
  .filter-date-picker{
    .mat-mdc-form-field-icon-suffix{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      transform: translate(-8px,-6px);
    }
  }
  .table-footer{
    .mat-mdc-form-field{
      height: $select-count-height;
      width: 68px;
      min-width: 58px;
    }
    .mat-mdc-text-field-wrapper{
      height: $select-count-height !important;
    }
    .mat-mdc-form-field-infix{
      padding: 0 !important;
      height: 100%;
    }
    .mat-mdc-select-value{
      transform: translate(-2px, -2px);
    }
    .mat-mdc-select-arrow-wrapper{
      transform: translate(-2px, -2px);
    }
  }
}
