<div class="account-list">
  <ng-container [ngTemplateOutlet]="titleTemp"></ng-container>
  <ng-container [ngTemplateOutlet]="buttonBar"></ng-container>
  <app-filter [hidden]="!showFilter" (filterChange)="filter($event)" [formType]="formName"></app-filter>
  <app-filter [hidden]="!showAddPanel" (filterChange)="addUser($event)" [formType]="userAddFormName"></app-filter>
  <ng-container *ngIf="displayedContent === 'table'" [ngTemplateOutlet]="tableBody"></ng-container>
  <ng-container *ngIf="displayedContent === 'cards'"[ngTemplateOutlet]="userCards"></ng-container>
</div>

<ng-template #titleTemp>
  <div class="title">
    <span>{{title}}</span>
  </div>
</ng-template>


<ng-template #tableBody>
  <div class="table-container">
    <table mat-table [dataSource]="(users$ | async) || []" class="mat-elevation-z8 mat-table">

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Действия </th>
        <td mat-cell *matCellDef="let element">
          <ng-container [ngTemplateOutlet]="actionCell">
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="Login">
        <th mat-header-cell class="login-cell" *matHeaderCellDef><mat-checkbox [(ngModel)]="selectAll" (ngModelChange)="selectAllUsers()" color="warn">Логин</mat-checkbox></th>
        <td mat-cell *matCellDef="let element" class="login-cell">
          <mat-checkbox color="warn" [(ngModel)]="selectedUsers[element.id]">
            <ng-container [ngTemplateOutlet]="textCell" [ngTemplateOutletContext]="{text: element.name}"></ng-container>
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="EMail">
        <th mat-header-cell *matHeaderCellDef> E-mail </th>
        <td mat-cell *matCellDef="let element">
          <ng-container [ngTemplateOutlet]="textCell" [ngTemplateOutletContext]="{text: element.email}">
          </ng-container>
        </td>>
      </ng-container>

      <ng-container matColumnDef="Phone">
        <th mat-header-cell *matHeaderCellDef> Телефон </th>
        <td mat-cell *matCellDef="let element">
          <ng-container [ngTemplateOutlet]="phoneCell" [ngTemplateOutletContext]="{phone: element.phone}">
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="Role">
        <th mat-header-cell *matHeaderCellDef> Роли </th>
        <td mat-cell *matCellDef="let element">
          <ng-container [ngTemplateOutlet]="roleCell" [ngTemplateOutletContext]="{userId: element.id}">
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="DateChange">
        <th mat-header-cell *matHeaderCellDef> Дата изменения </th>
        <td mat-cell *matCellDef="let element">
          <ng-container [ngTemplateOutlet]="dateCell" [ngTemplateOutletContext]="{date: element.update_at}">
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="DateCreation">
        <th mat-header-cell *matHeaderCellDef> Дата создания </th>
        <td mat-cell *matCellDef="let element">
          <ng-container [ngTemplateOutlet]="dateCell" [ngTemplateOutletContext]="{date: element.create_at}">
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef> Статус </th>
        <td mat-cell *matCellDef="let element">
          <ng-container [ngTemplateOutlet]="statusCell" [ngTemplateOutletContext]="{userId: element.id}">
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="ECP">
        <th mat-header-cell *matHeaderCellDef> Наличие ЭП </th>
        <td mat-cell *matCellDef="let element">
          <ng-container [ngTemplateOutlet]="ecpCell" [ngTemplateOutletContext]="{userId: element.id}">
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
    <ng-container [ngTemplateOutlet]="tableFooter"></ng-container>
  </div>
</ng-template>

<ng-template #actionCell>
  <mat-icon>more_horiz</mat-icon>
</ng-template>

<ng-template #textCell let-text="text">
  <span [matTooltip]="text">{{text}}</span>
</ng-template>

<ng-template #phoneCell let-phone="phone">
  <span [matTooltip]="phone | phone">{{phone | phone}}</span>
</ng-template>

<ng-template #statusCell let-userId="userId">
  <span *ngIf="(userId | userData | async) as userData" [ngClass]="{active: userData?.status === statuses[0], blocked:userData?.status === statuses[1]}"  [matTooltip]="userData?.status || ''">{{userData?.status}}</span>
</ng-template>

  <ng-template #roleCell let-userId="userId">
    <span *ngIf="(userId | userData | async) as userData" [matTooltip]="userData?.is_admin ? 'Администратор' : 'Пользователь'" >{{userData?.is_admin ? "Администратор" : "Пользователь"}}</span>
  </ng-template>

  <ng-template #dateCell let-date="date">
    <span [matTooltip]="(date | date : 'dd.MM.yyyy') || ''">{{date | date : 'dd.MM.yyyy'}}</span>
  </ng-template>

  <ng-template #ecpCell let-userId="userId">
    <mat-icon *ngIf="(userId | userData | async) as userData" [ngClass]="{'no-ecp': !userData?.is_ecp}" class="ecp-icon">{{userData?.is_ecp ? "check" : "close"}}</mat-icon>
  </ng-template>

  <ng-template #buttonBar>
    <div class="main-bar">
      <div class="button-bar">
        <ng-container *ngFor="let abutton of (actionButtons.slice(0, actionButtons.length - 1))" [ngTemplateOutlet]="actionButton" [ngTemplateOutletContext]="{text: abutton.name, action: abutton.action, icon:abutton.icon}"></ng-container>
      </div>
      <div class="button-bar filter-button-container">
        <ng-container [ngTemplateOutlet]="actionButton" [ngTemplateOutletContext]="{text: actionButtons[3].name, action: actionButtons[3].action, icon: actionButtons[3].icon}"></ng-container>
      </div>
    </div>
  </ng-template>

  <ng-template #actionButton let-text="text" let-action="action" let-icon="icon">
    <button mat-raised-button type="button" class="action-button" (click)="action()">{{text}}<mat-icon>{{icon}}</mat-icon></button>
  </ng-template>

  <ng-template #tableFooter>
    <div class="table-footer">
      <div class="select-count footer-block">
        <span class="table-footer-text">Отображать</span>
        <mat-form-field appearance="outline">
          <mat-select [ngModel]="usersOnPage" (ngModelChange)="emitCount($event)" type="text">
            <mat-option *ngFor="let item of [4,6,8]" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="page=bar footer-block">
        <button type="button" name="button" mat-icon-button (click)="emitPage(-1)"><mat-icon>keyboard_arrow_left</mat-icon></button>
        <button type="button" name="button" mat-icon-button (click)="emitPage(1)"><mat-icon>keyboard_arrow_right</mat-icon></button>
      </div>
      <div class="view-range footer-block" *ngIf="(pageNSlice$ | async) as range">
        <span class="table-footer-text">{{range[0]}}-{{range[1]}} из {{(userS.get$() | async)?.length}}</span>
      </div>
      <div class="selected-count footer-block">
        <span class="table-footer-text">Количество выбранных записей - {{getSelectedLength()}}</span>
      </div>
    </div>
  </ng-template>

  <ng-template #userCards>
    <div class="table-container">
      <ng-container *ngFor="let user of (users$ | async)" [ngTemplateOutlet]="userCard" [ngTemplateOutletContext]="{user}"></ng-container>
      <ng-container [ngTemplateOutlet]="tableFooter"></ng-container>
    </div>
  </ng-template>


  <ng-template #userCard let-user="user">
    <div class="user-card">
      <div class="left col">
        <ng-container [ngTemplateOutlet]="userCardRow" [ngTemplateOutletContext]="{name: 'Действия', templateName: actionCell}"></ng-container>
        <ng-container [ngTemplateOutlet]="userCardRow" [ngTemplateOutletContext]="{name: 'E-Mail', templateName: textCell, contentData: {text:user.email}}"></ng-container>
        <ng-container [ngTemplateOutlet]="userCardRow" [ngTemplateOutletContext]="{name: 'Роли', templateName: roleCell, contentData: {userId:user.id}}"></ng-container>
        <ng-container [ngTemplateOutlet]="userCardRow" [ngTemplateOutletContext]="{name: 'Дата создания', templateName: dateCell, contentData: {date:user.create_at}}"></ng-container>
        <ng-container [ngTemplateOutlet]="userCardRow" [ngTemplateOutletContext]="{name: 'Наличие ЭП', templateName: ecpCell, contentData: {userId:user.id}}"></ng-container>
      </div>
      <div class="right col">
        <ng-container [ngTemplateOutlet]="userCardRow" [ngTemplateOutletContext]="{name: 'Логин', templateName: textCell, contentData: {text:user.name}}"></ng-container>
        <ng-container [ngTemplateOutlet]="userCardRow" [ngTemplateOutletContext]="{name: 'Телефон', templateName: phoneCell, contentData: {phone:user.phone}}"></ng-container>
        <ng-container [ngTemplateOutlet]="userCardRow" [ngTemplateOutletContext]="{name: 'Дата изменения', templateName: dateCell, contentData: {date:user.update_at}}"></ng-container>
        <ng-container [ngTemplateOutlet]="userCardRow" [ngTemplateOutletContext]="{name: 'Статус', templateName: statusCell, contentData: {userId:user.id}}"></ng-container>
      </div>
    </div>
  </ng-template>

  <!-- tcn - template content data - данные для шаблока -->
  <ng-template #userCardRow let-name="name" let-templateName="templateName" let-contentData="contentData">
    <div class="user-card-row">
      <div class="user-card-row-text">
        <span>{{name}}</span>
      </div>
      <div class="user-card-row-content">
        <ng-container [ngTemplateOutlet]="templateName" [ngTemplateOutletContext]="contentData"></ng-container>
      </div>
    </div>
  </ng-template>


  <ng-template #fallBack>

  </ng-template>
